* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--mainDark);
}

:root {
  --mainDark: #16212c;
  --mainGreen: #709231;
  --mainOrange: #AF934A;
  --mainGood: #33ff00;
  --mainChanged: #ff9900;
  --mainBad: #ff0000;
  --mainP: #8F9896;
  --mainSpan: #ffffff;
  --mainHover: #4b5f24;
}


/* TOPBAR START */
.top-bar {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 5px 5px;
    top: 0;
    z-index: 1000;
    box-shadow: 20px 20px 20px var(--mainDark);
    border-bottom: 1px solid var(--mainGreen);
    justify-content: center;
}

.top-bar a {
    font-size: 20px;
    color: var(--mainGreen);
    text-decoration: none;
    padding: 10px;
}

.top-bar-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 34px;
    margin-bottom: 75px;
    top: 0;
    z-index: 1000;
    text-wrap: nowrap;
}

.top-bar-sub a:hover {
    color: var(--mainGreen);
}

.active {
    font-size: 15px;
    color: var(--mainGreen);
    text-decoration: none;
    border-bottom: 1px solid var(--mainGreen);
    padding: 5px 10px;
}

.in-active {
    font-size: 15px;
    color: var(--mainP);
    text-decoration: none;
    padding: 5px 10px;
}
/* TOPBAR END */


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.preamble {
    width: 50%;
    max-width: 1600px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(175deg,rgba(25, 30, 38, 1) 0%, rgba(15, 18, 24, 1) 50%, rgba(5, 6, 9, 1) 100%);
    border-radius: 8px;
    box-shadow: 0px 0px 30px var(--mainGreen);
}


/* PANELS START */
.panel-main {
    height: 150px;
    background: linear-gradient(175deg,rgba(25, 30, 38, 1) 0%, rgba(15, 18, 24, 1) 50%, rgba(5, 6, 9, 1) 100%);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-left: 5px solid var(--mainGood);
}

.panel-main-mid {
    height: 150px;
    background: linear-gradient(175deg,rgba(25, 30, 38, 1) 0%, rgba(15, 18, 24, 1) 50%, rgba(5, 6, 9, 1) 100%);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-left: 5px solid var(--mainChanged);
}

.panel {
    height: 150px;
    background: linear-gradient(175deg,rgba(25, 30, 38, 1) 0%, rgba(15, 18, 24, 1) 50%, rgba(5, 6, 9, 1) 100%);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.panel-inv {
    height: 150px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.panel-header {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: -5px;
    margin-top: -5px;
    color: var(--mainOrange);
}

.panel-content {
    flex-grow: 1;
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
}

.expandable-panel {
    transition: height 0.3s ease;
    overflow: hidden;
}

.expandable-panel.expanded {
    height: auto;
}

.expandable-panel.expanded .panel-content {
    mask-image: none;
    -webkit-mask-image: none;
}

.expandable-panel.expanded .hidden-content {
    opacity: 1;
    max-height: 1000px;
}

.expand-button {
    background-color: Transparent;
    color: var(--mainOrange);
    border: 0px solid var(--mainOrange);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    z-index: 10;
    margin-top: -4px;
    margin-right: -15px;
    width: 60px;
}

.expand-button:hover {
    color: #d49c0e;
    border: 0px solid #d49c0e;
}

.hero-list {
    background: linear-gradient(145deg,rgb(36, 41, 51) 0%, rgb(23, 26, 34) 50%, rgb(20, 23, 32) 100%);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
/* PANELS END */


.title-name {
    display: grid;
    height: auto;
    font-size: 24px;
    color: var(--mainGreen);
    text-decoration: none;
    border: 1px solid red;
}

.challenges-text {
    line-height: 75px;
    margin-top: 20px;
    margin-left: 90px;
    width: 390px;
    /* border: 2px solid #AF934A; */
}

.media-content {
    width: 100%;
    justify-items: center;
    justify-content: center;
}

.headline-tag {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    margin: 0px;
    justify-items: center;
}

.challenges-text p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

::selection {
    background: var(--mainGreen);
    color: var(--mainDark);
}

.good {
    color: var(--mainGood);
}

.mid {
    color: var(--mainChanged);
}

.bad {
    color: var(--mainBad);
}

img {
  display: block;
  max-width: 100%;
}

ul {
    list-style-type: square;
    font-size: 14px;
    margin-left: 30px;
    color: var(--mainP);
}

p {
    color: var(--mainP);
    height: auto;
    width: 100%;
    font-size: 14px;
    margin: 0;
}

hr {
    border: 0;
    height: 1px;
    margin: 10px 0;
    background: var(--mainOrange);
}

hr.green {
    border: 0;
    height: 1px;
    margin: 10px 0;
    background: var(--mainGreen);
}

h1 {
    color: var(--mainGreen);
    border-right: 1px solid transparent;
    margin-bottom: -15px;
}

h3 {
    color: var(--mainP);
    margin-bottom: -10px;
}

span {
    color: var(--mainSpan)
}

span.main-green {
    color: var(--mainGreen);
}

a {
    color: var(--mainGreen);
    text-decoration: none;
}

a:hover {
    color: var(--mainHover);
    text-decoration: none;
}

#myVideo {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


/* SCROLLBAR START */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--mainDark)
}

::-webkit-scrollbar-thumb {
  background: var(--mainGreen);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mainHover);
}
/* SCROLLBAR END */


/* FOOTER START */
.footer-content {
    width: 100%;
    margin-top: 100px;
    padding: 20px;
    border-top: 1px solid var(--mainGreen);
}

.footer-text {
    font-size: 14px;
    text-align: center;
}
/* FOOTER END */


@media (max-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
